@tailwind base;
@tailwind components;
@tailwind utilities;

.shadowed {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
}

body {
  @apply flex flex-col items-center overflow-x-hidden bg-[#ebebeb] text-[13px];
}

li {
  @apply cursor-pointer;
}

.links {
  color: rgba(51, 51, 51, 0.6);
}

.small-left-border {
  border-left: 1px solid #eeeeee;
}

section {
  @apply flex flex-col gap-4;
}

.carousel-arrow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ok-btn-blue {
  background-color: #3483FA;
  border-radius: 6px;
}
